.Editor {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.custom-code {
  text-align: center;
}

.custom-code button {
  font-size: 16px;
  background: #81fffd;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-color: #000;
  border-radius: 3px;
}

.code-wrapper {
  width: 60%;
}

.output-wrapper {
  margin-top: 40px;
  border: 1px solid #d8d8d8;
  width: calc(40% - 40px);
  padding: 10px;
  font-size: 14px;
  height: calc(600px - 10px * 2);
}

.output-wrapper p {
  font-weight: 600;
  margin-top: 0;
}

.output-wrapper p.executing {
  font-weight: 400;
  margin-top: 0;
}

.output-wrapper pre {
  margin: 10px;
  font-size: 12px;
  word-break: break-all;
  overflow-x: scroll;
  height: calc(100% - 30px);
}

.actions {
  height: 40px;
  width: 100%;
  display: flex;
}

.actions .col {
  width: 50%;
  display: flex;
  align-items: center;
  align-content: center;
}

.actions .col.left {
  justify-content: flex-start;
}

.actions .col.right {
  justify-content: flex-end;
}

.actions button {
  background: transparent;
  border: none;
  outline: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 6px 13px;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.actions .col.left button {
  margin-right: 15px;
}

.actions .col.right button {
  margin-left: 15px;
}

.icon {
  background: none;
  margin-right: 6px;
}

.icon.run::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 0;
  border-style: solid;
  border-width: 6px 0px 6px 12px;
  border-color: transparent transparent transparent #63aee3;
}

.icon.hide {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 0;
  border-style: solid;
  border-width: 1px 0px 1px 12px;
  border-color: #63aee3;
}

.icon.reset {
  width: 9px;
  height: 9px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-left-color: transparent;
  position: relative;
  color: #63aee3;
}

.icon.reset:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -5px;
  bottom: 0;
  border-width: 4px;
  border-style: solid;
  border-left-color: transparent;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom-color: transparent;
  border-right-color: transparent;
}
